<div class="container">
    <h1>User Registration</h1>
    <form>
        <div class="form-group">
            <label for="firstname">FirstName</label><br>
            <input type="text" name="firstname" class="formcontrol" ngModel>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="firstname">FirstName</label><br>
            <input type="text" name="firstname" class="formcontrol" ngModel>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="lastname">lastName</label><br>
            <input type="text" name="lastName" class="formcontrol" ngModel>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="email">EMAIL</label><br>
            <input type="text" name="email" class="formcontrol" ngModel>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="password">PASSWORD</label><br>
            <input type="text" name="password" class="formcontrol" ngModel>
        </div>
        <pre></pre>
        <button class="btn btn-primary" type="submit">submit</button>
    </form>
</div>
    